<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Inchoo_TicketManager>
            <version>1.0.0.0</version>
        </Inchoo_TicketManager>
    </modules>
    <global>
        <blocks>
            <inchoo_ticketmanager>
                <class>Inchoo_TicketManager_Block</class>
            </inchoo_ticketmanager>
        </blocks>
        <helpers>
            <inchoo_ticketmanager>
                <class>Inchoo_TicketManager_Helper</class>
            </inchoo_ticketmanager>
        </helpers>
        <models>
            <inchoo_ticketmanager>
                <class>Inchoo_TicketManager_Model</class>
                <resourceModel>inchoo_ticketmanager_resource</resourceModel>
            </inchoo_ticketmanager>
            <inchoo_ticketmanager_resource>
                <class>Inchoo_TicketManager_Model_Resource</class>
                <entities>
                    <tickets>
                        <table>inchoo_ticketmanager_tickets</table>
                    </tickets>
                    <comments>
                        <table>inchoo_ticketmanager_comments</table>
                    </comments>
                </entities>
            </inchoo_ticketmanager_resource>
        </models>
        <resources>
            <inchoo_ticketmanager_setup>
                <setup>
                    <module>Inchoo_TicketManager</module>
                </setup>
            </inchoo_ticketmanager_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <inchoo_ticketmanager>
                <use>standard</use>
                <args>
                    <module>Inchoo_TicketManager</module>
                    <frontName>ticket</frontName>
                </args>
            </inchoo_ticketmanager>
        </routers>
        <layout>
            <updates>
                <inchoo_ticketmanager module="Inchoo_TicketManager">
                    <file>tickets.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_TicketManager before="Mage_Adminhtml">Inchoo_TicketManager_Adminhtml</Inchoo_TicketManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <inchoo_ticketmanager>
                    <file>tickets.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
    </adminhtml>
</config>